<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 20px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet. Et praesentium praesentium et Quis beatae sit quibusdam molestias est omnis explicabo est voluptas quidem. Et aliquam suscipit hic dolores corporis in nihil vitae ab minima amet est repudiandae voluptates qui amet vero. </p><p>Qui blanditiis deserunt in quia enim in natus impedit et odit mollitia est consequatur blanditiis. Aut unde omnis sed voluptas laboriosam aut enim consequatur. </p><p>In Quis laudantium vel asperiores dicta ad vero sequi! Aut pariatur porro et sunt voluptatem eos rerum atque ut cupiditate vitae qui rerum rerum non modi eligendi. </p>
    </div>
</body>
</html>